##[debug]Evaluating condition for step: 'Compile RA3 Game DLL'
##[debug]Evaluating: success()
##[debug]Evaluating success:
##[debug]=> true
##[debug]Result: true
##[debug]Starting: Compile RA3 Game DLL
##[debug]Loading inputs
##[debug]Loading env
Run cd ra3-sdk/code
##[debug]D:\a\_temp\setup-msys2\msys2.CMD D:\a\_temp\9c1c61ea-82ac-4cbe-b19b-01cb349bac86
In file included from sqlite/sql_main.c:19:
sqlite/sql_os.h:122:23: error: conflicting types for 'off_t'; have 'long long int'
  122 |     typedef long long off_t;
      |                       ^~~~~
In file included from D:/a/_temp/msys64/mingw64/include/stdio.h:99,
                 from sqlite/sql_vdbe.h:21,
                 from sqlite/sqliteInt.h:18,
                 from sqlite/sql_main.c:18:
D:/a/_temp/msys64/mingw64/include/_mingw_off_t.h:26:17: note: previous declaration of 'off_t' with type 'off_t' {aka 'long int'}
   26 | typedef off32_t off_t;
      |                 ^~~~~
sqlite/sql_md5.c:31:10: fatal error: tcl.h: No such file or directory
   31 | #include <tcl.h>
      |          ^~~~~~~
compilation terminated.
In file included from sqlite/sql_random.c:20:
sqlite/sql_os.h:122:23: error: conflicting types for 'off_t'; have 'long long int'
  122 |     typedef long long off_t;
      |                       ^~~~~
In file included from D:/a/_temp/msys64/mingw64/include/stdio.h:99,
                 from sqlite/sql_vdbe.h:21,
                 from sqlite/sqliteInt.h:18,
                 from sqlite/sql_random.c:19:
D:/a/_temp/msys64/mingw64/include/_mingw_off_t.h:26:17: note: previous declaration of 'off_t' with type 'off_t' {aka 'long int'}
   26 | typedef off32_t off_t;
      |                 ^~~~~
sqlite/sql_shell.c: In function 'main':
sqlite/sql_shell.c:1212:9: error: too many arguments to function 'isatty'; expected 0, have 1
 1212 |     if( isatty(0) ){
      |         ^~~~~~ ~
sqlite/sql_shell.c:1211:16: note: declared here
 1211 |     extern int isatty();
      |                ^~~~~~
sqlite/sql_tclsqlite.c:18:10: fatal error: tcl.h: No such file or directory
   18 | #include "tcl.h"
      |          ^~~~~~~
compilation terminated.
In file included from sqlite/sql_tokenize.c:20:
sqlite/sql_os.h:122:23: error: conflicting types for 'off_t'; have 'long long int'
  122 |     typedef long long off_t;
      |                       ^~~~~
In file included from D:/a/_temp/msys64/mingw64/include/stdio.h:99,
                 from sqlite/sql_vdbe.h:21,
                 from sqlite/sqliteInt.h:18,
                 from sqlite/sql_tokenize.c:19:
D:/a/_temp/msys64/mingw64/include/_mingw_off_t.h:26:17: note: previous declaration of 'off_t' with type 'off_t' {aka 'long int'}
   26 | typedef off32_t off_t;
      |                 ^~~~~
httpd/api.c: In function 'httpdCreate':
httpd/api.c:214:1: error: number of arguments doesn't match prototype
  214 | {
      | ^
In file included from httpd/api.c:42:
httpd/httpd.h:198:8: error: prototype declaration
  198 | httpd *httpdCreate __ANSI_PROTO(());
      |        ^~~~~~~~~~~
httpd/api.c: In function 'httpdReadRequest':
httpd/api.c:453:17: error: conflicting types for 'httpd_decode'; have 'int(void)'
  453 |         int     httpd_decode();
      |                 ^~~~~~~~~~~~
In file included from httpd/api.c:43:
httpd/httpd_priv.h:54:5: note: previous declaration of 'httpd_decode' with type 'int(char *, char *, int)'
   54 | int httpd_decode __ANSI_PROTO((char*, char*, int));
      |     ^~~~~~~~~~~~
httpd/api.c:567:41: error: too many arguments to function 'httpd_decode'; expected 0, have 3
  567 |                                         httpd_decode(cp, authBuf, 100);
      |                                         ^~~~~~~~~~~~ ~~
httpd/api.c:453:17: note: declared here
  453 |         int     httpd_decode();
      |                 ^~~~~~~~~~~~
httpd/api.c: In function 'httpdProcessRequest':
httpd/api.c:1021:27: error: too many arguments to function 'entry->preload'; expected 0, have 1
 1021 |                 if ((entry->preload)(server) < 0)
      |                     ~~~~~~^~~~~~~~~~ ~~~~~~
httpd/httpd.h:121:19: note: declared here
  121 |         int     (*preload)();
      |                   ^~~~~~~
httpd/api.c:1031:31: error: too many arguments to function 'entry->function'; expected 0, have 1
 1031 |                         (entry->function)(server);
      |                         ~~~~~~^~~~~~~~~~~ ~~~~~~
httpd/httpd.h:118:19: note: declared here
  118 |         void    (*function)();
      |                   ^~~~~~~~
httpd/protocol.c: In function 'httpd_catFile':
httpd/protocol.c:566:24: error: 'O_RDONLY' undeclared (first use in this function)
  566 |         fd = open(path,O_RDONLY);
      |                        ^~~~~~~~
httpd/protocol.c:566:24: note: each undeclared identifier is reported only once for each function it appears in
cc1.exe: fatal error: qcommon/q_shared.c: No such file or directory
compilation terminated.
Error: Process completed with exit code 1.
##[debug]Finishing: Compile RA3 Game DLL
