name: Build RA3 Windows DLL
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install MinGW
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW32
          install: mingw-w64-i686-gcc

      - name: Compile RA3 Game DLL
        shell: msys2 {0}
        run: |
          cd ra3-sdk/code
          gcc -shared -o qagamex86.dll \
          game/*.c qcommon/q_shared.c \
          -I./game -I./qcommon -I./sqlite -I./httpd \
          -m32 -O2 -DWIN32 -DQ3_VM=0 -DMAX_FILEPATH=144 \
          -fpermissive -fcommon -fwrapv -w \
          -D_OFF_T_DEFINED -D_off_t=long -Doff_t=long
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ra3-windows-dll
          path: ra3-sdk/code/qagamex86.dll
