name: Build RA3 Windows DLL
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64

      - name: Compile RA3 Game DLL
        run: |
          cd ra3-sdk/code
          gcc -shared -o qagamex86_64.dll `
          game/*.c sqlite/*.c httpd/*.c qcommon/q_shared.c `
          -I./game -I./qcommon -I./sqlite -I./httpd `
          -m64 -O2 -DWIN32 -DQ3_VM=0 -DMAX_FILEPATH=144 -DSQLITE_THREADSAFE=0 `
          -fpermissive -fcommon -fwrapv -w

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ra3-windows-dll
          path: ra3-sdk/code/qagamex86_64.dll
